body{

font-family:Arial;
text-align:center;
background:#f4f4f4;

}

.plan{

background:white;
padding:20px;
margin:20px;
display:inline-block;
border-radius:10px;

}

button{

background:#ff9900;
color:white;
border:none;
padding:10px;
cursor:pointer;

}
